<div [class.dark]="dark()">
  <nav>
    <h3>
      ngx-datatable <small>({{ version }})</small>
    </h3>
    <ul class="main-ul">
      <li>
        <h4>Documentation</h4>
        <ul>
          <li>
            <a href="https://swimlane.gitbooks.io/ngx-datatable/content/" target="_black">Online</a>
          </li>
          <li>
            <a
              href="https://www.gitbook.com/download/pdf/book/swimlane/ngx-datatable"
              target="_black"
              >PDF</a
            >
          </li>
        </ul>
      </li>
      <li>
        <h4>Basic</h4>
        <ul>
          <li>
            <a routerLink="virtual-scroll">10k Rows</a>
          </li>
          <li>
            <a routerLink="full-screen">Full Screen</a>
          </li>
          <li>
            <a routerLink="inline-edit">Inline Editing</a>
          </li>
          <li>
            <a routerLink="horz-vert-scrolling">Horz/Vert Scrolling</a>
          </li>
          <li>
            <a routerLink="scrolling-dynamically">Vert Dynamic Scrolling</a>
          </li>
          <li>
            <a routerLink="multiple-tables">Multiple Tables</a>
          </li>
          <li>
            <a routerLink="filter">Filtering</a>
          </li>
          <li>
            <a routerLink="hidden">Hidden On Load</a>
          </li>
          <li>
            <a routerLink="live">Live Data</a>
          </li>
          <li>
            <a routerLink="rx">RxJS</a>
          </li>
          <li>
            <a routerLink="contextmenu">Context Menu</a>
          </li>
          <li>
            <a routerLink="css">CSS Classes</a>
          </li>
          <li>
            <a routerLink="footer">Footer Template</a>
          </li>
          <li>
            <a routerLink="empty">Empty Template</a>
          </li>
          <li>
            <a routerLink="drag-drop">Drag Drop</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Themes</h4>
        <ul>
          <li>
            <a routerLink="dark">Dark theme</a>
          </li>
          <li>
            <a routerLink="bootstrap">Bootstrap theme</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Tree</h4>
        <ul>
          <li>
            <a routerLink="fullscreen-tree">Full screen Tree</a>
          </li>
          <li>
            <a routerLink="client-tree">Client Side Tree</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Rows</h4>
        <ul>
          <li>
            <a routerLink="row-grouping">Row Grouping</a>
          </li>
          <li>
            <a routerLink="">Fluid Row Height</a>
          </li>
          <li>
            <a routerLink="basic-fixed">Fixed Row Height</a>
          </li>
          <li>
            <a routerLink="dynamic">Dynamic Row Height</a>
          </li>
          <li>
            <a routerLink="row-details">Row Detail</a>
          </li>
          <li>
            <a routerLink="responsive">Responsive</a>
          </li>
          <li>
            <a routerLink="disabled">Disabled</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Paging</h4>
        <ul>
          <li>
            <a routerLink="client-paging">Client-side</a>
          </li>
          <li>
            <a routerLink="server-paging">Server-side</a>
          </li>
          <li>
            <a routerLink="paging-scrolling-novirtualization">Scrolling no virtual</a>
          </li>
          <li>
            <a routerLink="server-scrolling">Scrolling server-side</a>
          </li>
          <li>
            <a routerLink="virtual-paging">Virtual server-side</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Sorting</h4>
        <ul>
          <li>
            <a routerLink="client-sorting">Client-side</a>
          </li>
          <li>
            <a routerLink="default-sorting">Default sort</a>
          </li>
          <li>
            <a routerLink="server-sorting">Server-side</a>
          </li>
          <li>
            <a routerLink="comparator-sorting">Comparator</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Selection</h4>
        <ul>
          <li>
            <a routerLink="cell-selection">Cell</a>
          </li>
          <li>
            <a routerLink="single-selection">Single Row</a>
          </li>
          <li>
            <a routerLink="multi-selection">Multi Row</a>
          </li>
          <li>
            <a routerLink="multi-click-selection">Multi Click Row</a>
          </li>
          <li>
            <a routerLink="multidisable-selection">Disable Callback</a>
          </li>
          <li>
            <a routerLink="chkbox-selection">Checkbox</a>
          </li>
          <li>
            <a routerLink="chkbox-selection-template">Custom Checkbox</a>
          </li>
          <li>
            <a routerLink="multi-click-chkbox-selection">Multi Click & Chkbox</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Templates</h4>
        <ul>
          <li>
            <a routerLink="inline">Inline</a>
          </li>
          <li>
            <a routerLink="templateref">TemplateRef</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Column</h4>
        <ul>
          <li>
            <a routerLink="flex">Flex</a>
          </li>
          <li>
            <a routerLink="toggle">Toggling</a>
          </li>
          <li>
            <a routerLink="fixed">Fixed</a>
          </li>
          <li>
            <a routerLink="force">Force</a>
          </li>
          <li>
            <a routerLink="pinning">Pinning</a>
          </li>
          <li>
            <a routerLink="reorder">Reorder</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Summary Row</h4>
        <ul>
          <li>
            <a routerLink="simple-summary">Simple</a>
          </li>
          <li>
            <a routerLink="custom-template-summary">Custom Template</a>
          </li>
          <li>
            <a routerLink="paging-summary">Server-side paging</a>
          </li>
          <li>
            <a routerLink="inline-html-summary">Inline HTML</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <main>
    <router-outlet (activate)="routeActivate(outlet)" #outlet="outlet"></router-outlet>
  </main>
</div>
