<div [class.dark]="dark()">
  <nav>
    <h3>
      ngx-datatable <small>({{ version }})</small>
    </h3>
    <ul class="main-ul">
      <li>
        <h4>Documentation</h4>
        <ul>
          <li>
            <a href="https://swimlane.gitbooks.io/ngx-datatable/content/" target="_black">Online</a>
          </li>
          <li>
            <a
              href="https://www.gitbook.com/download/pdf/book/swimlane/ngx-datatable"
              target="_black"
              >PDF</a
            >
          </li>
        </ul>
      </li>
      <li>
        <h4>Basic</h4>
        <ul>
          <li>
            <a routerLink="10k-rows">10k Rows</a>
          </li>
          <li>
            <a routerLink="full-screen">Full Screen</a>
          </li>
          <li>
            <a routerLink="inline-editing">Inline Editing</a>
          </li>
          <li>
            <a routerLink="horz-vert-scrolling">Horz/Vert Scrolling</a>
          </li>
          <li>
            <a routerLink="vert-dynamic-scrolling">Vert Dynamic Scrolling</a>
          </li>
          <li>
            <a routerLink="multiple-tables">Multiple Tables</a>
          </li>
          <li>
            <a routerLink="filtering">Filtering</a>
          </li>
          <li>
            <a routerLink="hidden-on-load">Hidden On Load</a>
          </li>
          <li>
            <a routerLink="live-data">Live Data</a>
          </li>
          <li>
            <a routerLink="rxjs">RxJS</a>
          </li>
          <li>
            <a routerLink="context-menu">Context Menu</a>
          </li>
          <li>
            <a routerLink="css-classes">CSS Classes</a>
          </li>
          <li>
            <a routerLink="footer-template">Footer Template</a>
          </li>
          <li>
            <a routerLink="empty-template">Empty Template</a>
          </li>
          <li>
            <a routerLink="drag-drop">Drag Drop</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Themes</h4>
        <ul>
          <li>
            <a routerLink="dark-theme">Dark Theme</a>
          </li>
          <li>
            <a routerLink="bootstrap-theme">Bootstrap Theme</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Tree</h4>
        <ul>
          <li>
            <a routerLink="full-screen-tree">Full Screen Tree</a>
          </li>
          <li>
            <a routerLink="client-side-tree">Client Side Tree</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Rows</h4>
        <ul>
          <li>
            <a routerLink="row-grouping">Row Grouping</a>
          </li>
          <li>
            <a routerLink="">Fluid Row Height</a>
          </li>
          <li>
            <a routerLink="fixed-row-height">Fixed Row Height</a>
          </li>
          <li>
            <a routerLink="dynamic-row-height">Dynamic Row Height</a>
          </li>
          <li>
            <a routerLink="row-detail">Row Detail</a>
          </li>
          <li>
            <a routerLink="responsive">Responsive</a>
          </li>
          <li>
            <a routerLink="disabled">Disabled</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Paging</h4>
        <ul>
          <li>
            <a routerLink="client-side-paging">Client-side Paging</a>
          </li>
          <li>
            <a routerLink="server-side-paging">Server-side Paging</a>
          </li>
          <li>
            <a routerLink="scrolling-no-virtual">Scrolling no virtual</a>
          </li>
          <li>
            <a routerLink="scrolling-server-side">Scrolling server-side</a>
          </li>
          <li>
            <a routerLink="virtual-server-side">Virtual server-side</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Sorting</h4>
        <ul>
          <li>
            <a routerLink="client-side-sorting">Client-side Sorting</a>
          </li>
          <li>
            <a routerLink="default-sort">Default Sort</a>
          </li>
          <li>
            <a routerLink="server-side-sorting">Server-side Sorting</a>
          </li>
          <li>
            <a routerLink="comparator">Comparator</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Selection</h4>
        <ul>
          <li>
            <a routerLink="cell-selection">Cell Selection</a>
          </li>
          <li>
            <a routerLink="single-row-selection">Single Row Selection</a>
          </li>
          <li>
            <a routerLink="multi-row-selection">Multi Row Selection</a>
          </li>
          <li>
            <a routerLink="multi-click-row-selection">Multi Click Row Selection</a>
          </li>
          <li>
            <a routerLink="disable-selection-callback">Disable Selection Callback</a>
          </li>
          <li>
            <a routerLink="checkbox-selection">Checkbox Selection</a>
          </li>
          <li>
            <a routerLink="custom-checkbox-selection">Custom Checkbox Selection</a>
          </li>
          <li>
            <a routerLink="multi-click-and-checkbox-selection"
              >Multi Click and Checkbox Selection</a
            >
          </li>
        </ul>
      </li>
      <li>
        <h4>Templates</h4>
        <ul>
          <li>
            <a routerLink="inline-template">Inline Template</a>
          </li>
          <li>
            <a routerLink="template-ref">TemplateRef</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Column</h4>
        <ul>
          <li>
            <a routerLink="flex-column">Flex Column</a>
          </li>
          <li>
            <a routerLink="column-toggling">Column Toggling</a>
          </li>
          <li>
            <a routerLink="fixed-column">Fixed Column</a>
          </li>
          <li>
            <a routerLink="force-column">Force Column</a>
          </li>
          <li>
            <a routerLink="column-pinning">Column Pinning</a>
          </li>
          <li>
            <a routerLink="column-reorder">Column Reorder</a>
          </li>
        </ul>
      </li>
      <li>
        <h4>Summary Row</h4>
        <ul>
          <li>
            <a routerLink="simple-summary">Simple Summary</a>
          </li>
          <li>
            <a routerLink="custom-template-summary">Custom Template Summary</a>
          </li>
          <li>
            <a routerLink="server-side-paging-summary">Server-side Paging Summary</a>
          </li>
          <li>
            <a routerLink="inline-html-summary">Inline HTML Summary</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <main>
    <router-outlet #outlet="outlet" (activate)="routeActivate(outlet)" />
  </main>
</div>
