.datatable {
  display: inline-block;
  overflow:hidden;
  justify-content: center;
  position: relative;

  [hidden] {
    display: none !important;
  }

  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /**
   * Generic Styles
   */
  .datatable-body-row,
  .datatable-header-inner {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
    -webkit-flex-flow: row;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    -o-flex-flow: row;
    flex-flow: row;
    flex-flow: row;
  }

  .datatable-body-cell,
  .datatable-header-cell {
    vertical-align: top;
    overflow: hidden;
    display: inline-block;

    white-space: nowrap;
    line-height: 1.625;
    text-overflow: ellipsis;

    touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .datatable-row-left,
  .datatable-row-right{
    z-index: 9;
  }

  .datatable-row-left,
  .datatable-row-center,
  .datatable-row-right{
    position:relative;
  }

  /**
   * Header Styles
   */
  .datatable-header {
    overflow:hidden;
    display: inline-block;

    .datatable-header-inner{
      white-space: nowrap;
      align-items: stretch;
      -webkit-align-items: stretch;
    }

    .datatable-header-cell{
      position:relative;
      white-space: nowrap;
      display:inline-block;
    }
  }

  /**
   * Body Styles
   */
  .datatable-body {
    overflow:auto;
    position:relative;
    z-index:10;

    .datatable-body-row {
      backface-visibility: hidden;
      outline:none;
      white-space: nowrap;

      > div {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
      }
    }
  }

  /**
   * Footer Styles
   */
  .datatable-footer {

  }
}
