.data-table.material {
  background: #FFF;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  /**
	 * Shared Styles
	 */
  /**
	 * Global Row Styles
	 */
  /**
	 * Header Styles
	 */
  /**
	 * Body Styles
	 */
  /**
	 * Footer Styles
	 */ }
  .data-table.material.striped .data-table-row-odd {
    background: #eee; }
  .data-table.material.single-selection .data-table-body-row.active,
  .data-table.material.single-selection .data-table-body-row.active .data-table-row-group, .data-table.material.multi-selection .data-table-body-row.active,
  .data-table.material.multi-selection .data-table-body-row.active .data-table-row-group {
    background-color: #304FFE;
    color: #FFF; }
  .data-table.material.single-selection .data-table-body-row.active:hover,
  .data-table.material.single-selection .data-table-body-row.active:hover .data-table-row-group, .data-table.material.multi-selection .data-table-body-row.active:hover,
  .data-table.material.multi-selection .data-table-body-row.active:hover .data-table-row-group {
    background-color: #193AE4;
    color: #FFF; }
  .data-table.material.single-selection .data-table-body-row.active:focus,
  .data-table.material.single-selection .data-table-body-row.active:focus .data-table-row-group, .data-table.material.multi-selection .data-table-body-row.active:focus,
  .data-table.material.multi-selection .data-table-body-row.active:focus .data-table-row-group {
    background-color: #2041EF;
    color: #FFF; }
  .data-table.material:not(.cell-selection) .data-table-body-row:hover,
  .data-table.material:not(.cell-selection) .data-table-body-row:hover .data-table-row-group {
    background-color: #eee;
    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: linear; }
  .data-table.material:not(.cell-selection) .data-table-body-row:focus,
  .data-table.material:not(.cell-selection) .data-table-body-row:focus .data-table-row-group {
    background-color: #ddd; }
  .data-table.material.cell-selection .data-table-body-cell:hover,
  .data-table.material.cell-selection .data-table-body-cell:hover .data-table-row-group {
    background-color: #eee;
    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: linear; }
  .data-table.material.cell-selection .data-table-body-cell:focus,
  .data-table.material.cell-selection .data-table-body-cell:focus .data-table-row-group {
    background-color: #ddd; }
  .data-table.material.cell-selection .data-table-body-cell.active,
  .data-table.material.cell-selection .data-table-body-cell.active .data-table-row-group {
    background-color: #304FFE;
    color: #FFF; }
  .data-table.material.cell-selection .data-table-body-cell.active:hover,
  .data-table.material.cell-selection .data-table-body-cell.active:hover .data-table-row-group {
    background-color: #193AE4;
    color: #FFF; }
  .data-table.material.cell-selection .data-table-body-cell.active:focus,
  .data-table.material.cell-selection .data-table-body-cell.active:focus .data-table-row-group {
    background-color: #2041EF;
    color: #FFF; }
  .data-table.material .empty-row {
    height: 50px;
    text-align: left;
    padding: .5rem 1.2rem;
    vertical-align: top;
    border-top: 0; }
  .data-table.material .loading-row {
    text-align: left;
    padding: .5rem 1.2rem;
    vertical-align: top;
    border-top: 0; }
  .data-table.material .data-table-header .data-table-row-left,
  .data-table.material .data-table-body .data-table-row-left {
    background-color: #FFF;
    background-position: 100% 0;
    background-repeat: repeat-y;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==); }
  .data-table.material .data-table-header .data-table-row-right,
  .data-table.material .data-table-body .data-table-row-right {
    background-position: 0 0;
    background-color: #fff;
    background-repeat: repeat-y;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQI12PQkNdi1VTQ5gbSwkAsDQARLAIGtOSFUAAAAABJRU5ErkJggg==); }
  .data-table.material .data-table-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    .data-table.material .data-table-header .data-table-header-cell {
      text-align: left;
      padding: .5rem 1.2rem;
      font-weight: 400;
      color: #757575;
      vertical-align: bottom; }
      .data-table.material .data-table-header .data-table-header-cell.longpress {
        color: #00E676; }
      .data-table.material .data-table-header .data-table-header-cell.dragging .resize-handle {
        border-right: none; }
    .data-table.material .data-table-header .resize-handle {
      border-right: solid 1px #eee; }
  .data-table.material .data-table-body .data-table-row-detail {
    background: #f5f5f5;
    padding: 10px; }
  .data-table.material .data-table-body .data-table-body-row .data-table-body-cell {
    text-align: left;
    padding: .5rem 1.2rem;
    vertical-align: top;
    border-top: 0;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease; }
  .data-table.material .data-table-body .progress-linear {
    display: block;
    position: relative;
    width: 100%;
    height: 5px;
    padding: 0;
    margin: 0;
    position: absolute; }
    .data-table.material .data-table-body .progress-linear .container {
      display: block;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 5px;
      -webkit-transform: translate(0, 0) scale(1, 1);
      transform: translate(0, 0) scale(1, 1);
      background-color: #aad1f9; }
      .data-table.material .data-table-body .progress-linear .container .bar {
        transition: all .2s linear;
        -webkit-animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
        animation: query 0.8s infinite cubic-bezier(0.39, 0.575, 0.565, 1);
        transition: -webkit-transform .2s linear;
        transition: transform .2s linear;
        background-color: #106cc8;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 5px; }
  .data-table.material .data-table-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 16px; }
    .data-table.material .data-table-footer .page-count {
      line-height: 50px;
      height: 50px;
      padding: 0 1.2rem; }
    .data-table.material .data-table-footer .data-table-pager {
      margin: 0 10px; }
      .data-table.material .data-table-footer .data-table-pager li {
        vertical-align: middle; }
        .data-table.material .data-table-footer .data-table-pager li.disabled a {
          color: rgba(0, 0, 0, 0.26) !important;
          background-color: transparent !important; }
        .data-table.material .data-table-footer .data-table-pager li.active a {
          background-color: rgba(158, 158, 158, 0.2);
          font-weight: bold; }
      .data-table.material .data-table-footer .data-table-pager a {
        height: 22px;
        min-width: 24px;
        line-height: 22px;
        padding: 0 6px;
        border-radius: 3px;
        margin: 6px 3px;
        text-align: center;
        vertical-align: top;
        color: rgba(0, 0, 0, 0.54);
        text-decoration: none;
        vertical-align: bottom; }
        .data-table.material .data-table-footer .data-table-pager a:hover {
          color: rgba(0, 0, 0, 0.75);
          background-color: rgba(158, 158, 158, 0.2); }
      .data-table.material .data-table-footer .data-table-pager .icon-left,
      .data-table.material .data-table-footer .data-table-pager .icon-skip,
      .data-table.material .data-table-footer .data-table-pager .icon-right,
      .data-table.material .data-table-footer .data-table-pager .icon-prev {
        font-size: 20px;
        line-height: 20px;
        padding: 0 3px; }

/**
 * Checkboxes
**/
.data-table-checkbox {
  position: relative;
  margin: 0;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 0; }
  .data-table-checkbox input[type='checkbox'] {
    position: relative;
    margin: 0 1rem 0 0;
    cursor: pointer;
    outline: none; }
    .data-table-checkbox input[type='checkbox']:before {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      content: "";
      position: absolute;
      left: 0;
      z-index: 1;
      width: 1rem;
      height: 1rem;
      border: 2px solid #f2f2f2; }
    .data-table-checkbox input[type='checkbox']:checked:before {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      height: .5rem;
      border-color: #009688;
      border-top-style: none;
      border-right-style: none; }
    .data-table-checkbox input[type='checkbox']:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1rem;
      height: 1rem;
      background: #fff;
      cursor: pointer; }

/**
 * Progress bar animations
 */
@-webkit-keyframes query {
  0% {
    opacity: 1;
    -webkit-transform: translateX(35%) scale(0.3, 1);
    transform: translateX(35%) scale(0.3, 1); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50%) scale(0, 1);
    transform: translateX(-50%) scale(0, 1); } }

@keyframes query {
  0% {
    opacity: 1;
    -webkit-transform: translateX(35%) scale(0.3, 1);
    transform: translateX(35%) scale(0.3, 1); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-50%) scale(0, 1);
    transform: translateX(-50%) scale(0, 1); } }
