<html>

<head>
  <title>ngx-datatable - Angular2 and beyond component for presenting large and complex data</title>

  <!-- Name of web application (only should be used if the website is used as an app) -->
  <meta name="application-name" content="angular2-data-table">

  <!-- Short description of the page (limit to 150 characters) -->
  <meta name="description" content="Angular2 datatable for handling large and complex datasets in table format" />

  <!-- Short description of your site's subject -->
  <meta name="subject" content="Angular2 Datatable">

  <!-- Very short (10 words or less) description. Primarily for academic papers -->
  <meta name="abstract" content="Angular2 Datatable">

  <!-- Crawling: All Search Engines -->
  <meta name="robots" content="index,follow,noodp">

  <!-- Crawling: Google Specific -->
  <meta name="googlebot" content="index,follow">

  <!-- Scaling -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- IE -->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="cleartype" content="on">

  <!-- Add to Home Screen: iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Swimlane">

  <!-- Add to Home Screen: Android -->
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="stylesheet" href="assets/app.css">
  <link rel="stylesheet" href="assets/icons.css">
  <script src="https://buttons.github.io/buttons.js"></script>
  <style>
  .loading { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
  </style>
</head>

<body>
  <app><span class="loading">Loading...</span></app>
  <div class="github-button-wrap">
    <a class="github-button" href="https://github.com/swimlane/angular2-data-table" data-style="mega" data-count-href="/swimlane/angular2-data-table/stargazers" data-count-api="/repos/swimlane/angular2-data-table#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star swimlane/angular2-data-table on GitHub">Star</a>
  </div>

  <% if (htmlWebpackPlugin.options.googleAnalytics) { %>
    <script type="text/javascript">
      window.GoogleAnalyticsObject='ga';window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      <% if (htmlWebpackPlugin.options.googleAnalytics.trackingId) { %>
      ga('create','<%= htmlWebpackPlugin.options.googleAnalytics.trackingId %>','auto');
      <% } else { throw new Error("html-webpack-template requires googleAnalytics.trackingId config"); } %>
      <% if (htmlWebpackPlugin.options.googleAnalytics.pageViewOnLoad) { %>
      ga('send','pageview')
      <% } %>
    </script>
    <script async defer src="https://www.google-analytics.com/analytics.js" type="text/javascript"></script>
    <% } %>
</body>

</html>
